header {
    color: black;
    font-weight: bolder;
    font-size: 1.5rem;
    height: 70px;
    background-color: lightcyan;
    display: flex;
    align-items: center;
    padding-left: 40px;
  }
  